<!-- <ng-assignment-nx-welcome></ng-assignment-nx-welcome> -->
<!-- <div>hello</div>
<mat-sidenav-container class="example-container">
  <mat-sidenav
    >Start content
    <mat-nav-list>
      <a mat-list-item>Home</a>
      <a mat-list-item>About</a>
      <a mat-list-item>Account</a>
      <a mat-list-item>Contact</a>
      <a mat-list-item>Help</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav opened position="end">End content</mat-sidenav>
  <mat-sidenav-content>main content </mat-sidenav-content>
</mat-sidenav-container> -->
<mat-sidenav-container class="example-container">
  <mat-sidenav opened>Start content</mat-sidenav>
  <mat-sidenav opened position="end">End content</mat-sidenav>
  Implicit main content
</mat-sidenav-container>

<!-- <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div> -->
